gnugkbuildopts.h
*.log
config.cache
config.status
Makefile
obj_*_*_*_s
obj_*_*_*_d_s
obj_*_*_*
Release
Debug
bak
gk.suo
gk.ncb
gk.plg
gk.opt
.sniffdir
autom4te.cache
cov-int
*.proj
*.save
*.layout
*.ipch
*.bin
